#camera
{
	overflow: hidden;
	position: relative;
}

#filter_display
{
	position: absolute;
	cursor: pointer;
	z-index: 2;
}

#filter_display:hover
{
	cursor: pointer;
}

#camera-stream
{
	display: block;
	z-index: 1;
}

#file
{
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}

#file-stream
{
	max-height: 376px;
	max-width: 500px;
}

#snapshot
{
	width: 25%;
	height: 2%;
	border: 1px solid #acadaf;
	border-radius: 10px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#cccccc));
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}

#canvas
{
	display: none;
}

#image
{
	display: none;
}

.validate_button
{
	width: 25%;
	border: 1px solid #acadaf;
	border-radius: 10px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#cccccc));
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}
